body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1919;
}

.logo {
  height: 150px;
  width: 150px;
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  border-radius: 25px;
  position: relative;
}

.logo::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 100px;
  border: 9px solid #ffffff;
  top: 50%;
  left: 50%;
  border-radius: 25px;
  transform: translate(-50%, -50%);
}

.logo .circle {
  position: absolute;
  height: 50px;
  width: 50px;
  border: 9px solid #ffffff;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

.circle::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: #ffffff;
  top: -15px;
  left: 55px;
  border-radius: 50%;
}
